.pokemonDisplay{
    display: inline-block;
    text-align: center;
}

.pokemonList{
    display: inline-block;
    width: 33%;
    border:solid;
    border-width: 1px;
    border-color: grey;
}

.pokemonDisplay:hover{
    background: lightgrey;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + img {
cursor: pointer;
}

[type=radio]:checked + .infos {
background: lightblue;
}

.name {
    font-family: Arial;
    text-transform: capitalize;
}

.container{
    display: flex;
    justify-content: center;
}

.button{
   margin-top: auto;
   margin-bottom: auto;
}