.pokemonDisplay{
    display: inline-block;
    text-align: center;
}

.pokemonList{
    display: inline-block;
    width: 45%;
    border:solid;
}

.pokemonDisplay:hover{
    background: lightgrey;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + img {
cursor: pointer;
}

[type=radio]:checked + .infos {
background: lightblue;
}

.name {
    font-family: Arial;
    text-transform: capitalize;
}