#container {
  display: flex;
  justify-content: center;
  
}

#battle  {
   background-image: url("/assets/battle_background.png");
   background-size: cover;
   width: 35% ;
}
#firstPokemon {
  margin-left: 70%;
}
#secondPokemon {
  margin-left: 15%;
  margin-bottom: 5%;
}
#start-button {
  text-align: center;
}
#page {
     background-image: url("/assets/pokemon_background.jpg");
     background-size: cover;
     height: 100%;
     width: 100%;

}